<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ivan.micmusic" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/apklogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        >

        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".EnrollActivity"
            android:label="註冊"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ivan.micmusic.LoginActivity" />
        </activity>
        <activity
            android:name=".ForgetActivity"
            android:label="忘記密碼"
            android:parentActivityName=".LoginActivity">
        </activity>
            <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".LoginActivity">
            </activity>
            <activity
                android:name=".BattleActivity"
                android:label="大亂鬥"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".MainActivity">
            </activity>
            <activity
                android:name=".PersonActivity"
                android:label="個人頻道"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".MainActivity">
            </activity>
    </application>

</manifest>
